.footer-container{
  background-color: #1d84fe;
}

.social-link-bg {
  height: 50px;
  width: 50px;
  background-color: #fff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}